##############################
# OS X
##############################

._*
Icon
.Trashes
.LSOverride
.AppleDouble
.Spotlight-V100

##############################
# Linux
##############################

*~

##############################
# Windows
##############################


*.cab
*.msi
*.msm
*.msp
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

##############################
# Packages
##############################

*.o
*.7z
*.gz
*.so
*.csv
*.dat
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.dll
*.exe
*.swo
*.swp
*.swn
*.swm
*.out
*.pid
*.seed
*.class

##############################
# Logs, databases, storage
##############################

.nx
.tmp
logs
*.log
*.sql
uploads/*
*.sqlite
*.sqlite3

##############################
# Misc.
##############################

*#
ssl
.idea
*.pem
.DS_Store
nbproject
.tsbuildinfo
.eslintcache
public/uploads/*
!public/uploads/.gitkeep

##############################
# Node.js
##############################

.env
.env.*
logs
pids
results
lib-cov
lcov.info
node_modules
.node_history
!.env.example

##############################
# Package managers & debug
##############################

.pnp.*
.yarn/*
yarn.lock
!.yarn/sdks
!.yarn/cache
!.yarn/plugins
!.yarn/patches
!.yarn/releases
!.yarn/versions
!.yarn/unplugged

yarn.lock
npm-debug.log*
yarn-error.log
yarn-debug.log*
.pnpm-debug.log*
package-lock.json

##############################
# Tests
##############################

coverage

##############################
# Ngrok tunnel file
##############################

config/tunnel.pid

##############################
# Build output
##############################

dist
build
*.tsbuildinfo

##############################
# Editor directories and files
##############################

*.sw?
*.sln
*.suo
.idea
*.ntvs*
.vscode/*
*.njsproj
!.vscode/extensions.json

##############################
# next.js
##############################

out/
.next/
next-env.d.ts

##############################
# vercel
##############################

.vercel

##############################
# contentlayer
##############################

.contentlayer